{% extends 'layout/private.html.twig' %}

{% set activeMenu = 'home' %}

{% block title %}{{ 'menu.home'|trans }}{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ 'menu.home'|trans }}</h1>

        <p>{{ 'msg'|trans }}</p>
    </div>
{% endblock %}
