{% extends 'layout/private.html.twig' %}

{% set activeMenu = 'test' %}
{% set subMenu = 'test' %}
{% set activeMenu2 = 'test' %}

{% block title %}Test{% endblock %}

{% block content %}
    <div class="container">
        <h1>Test</h1>

        <p>Ceci est un test</p>
    </div>
{% endblock %}
