header {
  background-color: $orange-700;
  padding: 1rem;

  a {
    color: $blue-600;

    &:before,
    &:after {
      background-color: $blue-500;
    }

    &:hover {
      color: $blue-500;
    }
  }
}
