// palette
$purple3: #52035d;
$purple5: #7b008c;
$purple4: #680176;
$purple2: #370c3d;
$purple1: #210e23;

$blue3: #0a3b76;
$blue5: #014aa2;
$blue4: #06448f;
$blue2: #113054;
$blue1: #182637;

$green3: #016f08;
$green5: #00a70b;
$green4: #008d09;
$green2: #0e4a12;
$green1: #112a12;

$yellow3: #788a02;
$yellow5: #b5cf00;
$yellow4: #99af00;
$yellow2: #525b11;
$yellow1: #303415;

$orange3: #b46e00;
$orange5: #f79700;
$orange4: #da8500;
$orange2: #805511;
$orange1: #544021;

$red3: #8d0502;
$red5: #d50500;
$red4: #b40500;
$red2: #5e1311;
$red1: #361615;



// bootstrap vars, voir ~bootstrap/scss/variables;

$white:    #afb1e0;
// $gray-100: #f8f9fa;
// $gray-200: #e9ecef;
// $gray-300: #dee2e6;
// $gray-400: #ced4da;
// $gray-500: #adb5bd;
// $gray-600: #6c757d;
// $gray-700: #495057;
// $gray-800: #343a40;
// $gray-900: #212529;
$black:   #210e23;
$blue:    #014aa2;
$indigo:  #7b008c;
// $purple:  #6f42c1;
// $pink:    #d63384;
$red:     #b40500;
$orange:  #da8500;
$yellow:  #b5cf00;
$green:   #00a70b;
// $teal:    #20c997;
// $cyan:    #0dcaf0;
// $primary:       $blue;
// $secondary:     $gray-600;
// $success:       $green;
// $info:          $cyan;
// $warning:       $yellow;
// $danger:        $red;
// $light:         $gray-100;
// $dark:          $gray-900;
