# deployment
/deployment/docker/.env
/deployment/docker/mariadb/db
/deployment/docker/mariadb/log
/deployment/docker/mariadb_test/db
/deployment/docker/mariadb_test/log
/deployment/ansible/vars.yml
/deployment/ansible/roles/*/vars.yml

# backend
/backend/ci
/backend/log
/backend/var
/backend/vendor

###> symfony/framework-bundle ###
/backend/.env.local
/backend/.env.*.local
/backend/config/secrets/prod/prod.decrypt.private.php
/backend/config/jwt/*.pem
!/backend/config/jwt/test/*.pem
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
/backend/.phpunit
/backend/.phpunit.result.cache
/backend/phpunit.xml
###< symfony/phpunit-bridge ###

###> friendsofphp/php-cs-fixer ###
/backend/.php_cs
/backend/.php_cs.cache
/backend/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

# frontend
/frontend/node_modules
/frontend/.env.local
/frontend/.env.*.local
/frontend/npm-debug.log*
/frontend/dist
/frontend/.nyc_output
/frontend/ci
/frontend/config/variables.json
/frontend/log

# npm/yarn
/frontend/npm-debug.log
/frontend/yarn-debug.log

# e2e test
/frontend/tests/e2e/videos/
/frontend/tests/e2e/screenshots/
