# deployment
/.env
/deployment/mariadb/db
/deployment/mariadb_test/db

# backend
/backend/ic
/backend/log
/backend/vendor
/backend/var

###> symfony/framework-bundle ###
/backend/.env.local
/backend/config/secrets/prod/prod.decrypt.private.php
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
/backend/.phpunit
/backend/.phpunit.result.cache
/backend/phpunit.xml
###< symfony/phpunit-bridge ###

###> friendsofphp/php-cs-fixer ###
/backend/.php_cs
/backend/.php_cs.cache
###< friendsofphp/php-cs-fixer ###

# frontend
/frontend/node_modules
/frontend/.env.local
/frontend/.env.*.local
/frontend/npm-debug.log*
/frontend/dist

# npm/yarn
/frontend/npm-debug.log
/frontend/yarn-debug.log

# e2e test
/frontend/tests/e2e/videos/
/frontend/tests/e2e/screenshots/
