/.env
/deployment/mariadb/db
/deployment/mariadb_test/db

# backend
/backend/ic
/backend/log

###> symfony/framework-bundle ###
/backend/.env.local
/backend/config/secrets/prod/prod.decrypt.private.php
/backend/var
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
/backend/.phpunit
/backend/.phpunit.result.cache
/backend/phpunit.xml
###< symfony/phpunit-bridge ###

/backend/node_modules
/backend/npm-debug.log
/backend/yarn-debug.log
/backend/public/build
/backend/public/bundles

# composer
/backend/vendor
/backend/.php_cs.cache

###> friendsofphp/php-cs-fixer ###
/backend/.php_cs
/backend/.php_cs.cache
###< friendsofphp/php-cs-fixer ###

# npm/yarn
/frontend/node_modules
/frontend/npm-debug.log
/frontend/yarn-debug.log
