parameters:
  autoload_files:
    - vendor/bin/.phpunit/phpunit/vendor/autoload.php
  checkMissingIterableValueType: false
  level: 6
  paths:
    - src
    - tests
  excludes_analyse:
    - src/Kernel.php
    - tests/bootstrap.php