<!DOCTYPE html>
<html>
    <body>
        <p>
            Hello,
        </p>
        {% block body %}{% endblock %}
        <p>
            ----------------<br />
            Best regards,<br />
            The MP3000 team
        </p>
    </body>
</html>
