{% extends 'email/base.html.twig' %}

{% block body %}
    <p>
        You have requested a password reset for your account.
    </p>
    <p>
        To choose a new password, please click on the following link: <a href="{{ reset_url }}">{{ reset_url }}</a>
    </p>
    <p>
        If you didn't request a password reset, please ignore this email.
    </p>
{% endblock %}
