{% extends 'layout/private.html.twig' %}

{% block title %}{{ 'app.terms_of_service'|trans }}{% endblock %}

{% block content %}

    {% block tos %}
    {% endblock %}

    {% if not signed %}
        <form action="{{ path('tos') }}" method="post">
            <label for="accept"><input type="checkbox" name="accept" id="accept" /> {{ 'tos.accept'|trans }}</label>
            <br />
            <button type="submit" class="btn btn-primary">{{ 'tos.sign'|trans }}</button>
        </form>
    {% endif %}

{% endblock %}
