{% extends 'layout/private.html.twig' %}

{% set activeMenu = 'admin' %}
{% set subMenu = 'admin' %}
{% set activeMenu2 = 'users' %}

{% block title %}Users{% endblock %}

{% block content %}
    <div class="container">
        <h1>Users</h1>

        <p>Ceci est un user</p>
    </div>
{% endblock %}
