<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Template{% endblock %}</title>
        <link rel="icon" href="/img/favicon.png" />

        {% block js %}
        {% endblock %}

    </head>
    <body>
        <div class="container">
            <div id="flash-messages">
                {% for category in ['success','warning','danger','info'] %}
                    {% for messages in app.session.flashbag.get(category) %}
                        {% for message in messages %}
                            <span class="d-inline-block alert alert-{{ category }}">{{ message|trans }}</span>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>

        {% block body %}{% endblock %}
    </body>
</html>
