<footer class="pl-5">
	Made by <a href="https://github.com/mp3000mp/template-web" title="source code">mp3000mp</a> <a href="{{ path('tos') }}" title="{{ 'app.tos'|trans }}">{{ 'app.tos'|trans }}</a>
</footer>
