{% extends 'base.html.twig' %}

{% block js %}
    <script type="text/javascript" src="/build/private.bundle.js"></script>
{% endblock %}

{% block body %}
    {{ include('menu/main.html.twig') }}
    <main>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
        {{ include('layout/footer.html.twig') }}
    </main>

    <div id="js-infos"
         data-device-token="{{ app.request.session.get('device_session_token') }}"
         data-this-app="{{ app.request.session.get('this_app') }}"
    ></div>
{% endblock %}
