$blueLight: #4482e2;
$blueDark: #052b71;
$green: #1f791a;
$orange: #ce641c;
$purple: #6b66d4;
$red: #aa2121;
$white: #afb1e0;

@import './includes/structure';
@import './includes/header';
@import './includes/footer';
